.modal{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    
}

.modal.active {
    transform: scale(1);
}

.modal_content {
    background-color: #D9D9D9;
    width: 429px;
    height: 532px;
}

.modal_content_delete {
    width: 429px;
    height: 146px;
    background-color : #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.modal_delete_text {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 17px;
}

.modal_buttons {
    display: flex;
    justify-content: space-around;
}